*{
    margin: 0;
}

/* Icono de WhatsApp */

#whatsapp {
    width: 64px;
    border-radius: 32px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Estilos de cuerpo principal */
body{
    background-color: #F9EEC2;
}

p {
    color: #58635C;
    font-family:"Gudea", sans-serif;
}

h1 {
    font-size: 2em;        }
h3 {
    font-size: 1.2em;
}
h1, h3 {
    color:#CB461B;
    font-family:'Fredoka One', sans-serif;
}

/* Estilos del encabezado */
#Encabezado {
    background-color: cadetblue;
    background-image: url("fondo-encabezado.webp");
}

.title-site {
    height: 100px ;
    padding-left: 20px;
    padding-top: 20px;
}

.title-site > img {
    display: block;
    float: left;
}

.title-site > h3 {
    display: block;
    float: left;
}
/* Estilos del catalogo */
#Catalogo {
    background-color: #FFF;
    padding: 15px;
}
.producto > p {
    font-family: "Gudea", sans-serif;
}

.producto {
    display: block;
    margin: 10px;
    border-color: #CB461B;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 10px;
    height: 100%;
}
.producto > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.producto > h3 {
    margin-bottom: 1em;
}

/* Pie de página */
#Pie {
    padding: 20px 0px 20px 0px;
    border-top: 4px #010659 dashed;
    background: #BF0F0F;
}

#Pie > p {
    display: block;
    text-align: center;
    color:#fff;
}